.app
  padding: 15px

.section
  margin: 1rem 0
  &-content
    padding: 1.5rem
    background: #fff
    border-radius: 5px
  &-title
    margin-bottom: 1rem

.invoice-creation-form
  box-sizing: border-box
  background-color: #fff
  padding: 1.4rem
  border-radius: 4px
  .inputs
    border: 1px solid rgb(206, 212, 218)
    padding: 1.4rem
  .my-row
    margin-bottom: 2rem
  .save-btn
    margin-top: 1.5rem
    padding-left: 1.5rem
    padding-right: 1.5rem